.viewer-container {
    width: 50vw;         
    height: 80vh;
    margin: 40px auto; 
    
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background: white;
}

.viewer-inner {
    height: 100%;
}