*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #666666;
  background: #eaeff4;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  background: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.col-left,
.col-right {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-left {
  background: linear-gradient(to bottom, #266473, #128496);
  color: #ffffff;
}

.login-text h2 {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
}

.login-text p {
  font-size: 16px;
  line-height: 22px;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form label span {
  color: #ff574e;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

  border: 1px solid #cccccc;
  border-radius: 5px;
  outline: none;
}

.login-form input:focus {
  border-color: #17a2b8;
}

.login-form button {
  width: 100%;
  padding: 10px;

  color: #266473;
  font-size: 16px;

  background: transparent;
  border: 1px solid #266473;
  border-radius: 5px;

  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  color: #ffffff;
  background: #17a2b8;
  border-color: #17a2b8;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px;
}

.login-options a {
  font-size: 14px;
  text-decoration: none;
  color: #266473;
}

.login-form p {
  margin-top: 15px;
  font-size: 14px;
}

.login-form p a {
  color: #266473;
  text-decoration: none;
}
